<main>

  <h2>Meine TODO-Liste</h2>

  <div class="new-entry">

    <h3>Neuer Eintrag</h3>

    <label for="task">

      Was möchtest du erledigen?
      <input type="text" id="task" [(ngModel)]="newTask">

      <button (click)="addTask()">Hinzufügen</button>

    </label>

  </div>

  <div class="entries-list">

    <h3>Aufgaben</h3>

    <div *ngIf="tasks.length <= 0">
      <p>Keine Einträge vorhanden</p>
    </div>


    <div class="tasks" *ngFor="let task of tasks">
      <p class="task">{{task}}</p>
      <button (click)="removeTask(task)">Erledigt</button>
    </div>

  </div>

</main>
